<h1>Current Campaigns</h1>
<%# Find me in app/views/campaigns/index.html.erb %>

<ul style="list-style-type:none">
  <% Campaign.all.each do |campaign|%>
    <li><%= link_to campaign.title, campaign %> |
      <%=campaign.duration%> min
      <%=" | #{campaign.tags}" unless campaign.tags == [] %> </li>
  <% end %>

</ul>


<% if current_user.expert %>
  <%= link_to "Create a new campaign", new_campaign_path, class: 'button' %>
<% end %>

